<!DOCTYPE html> <!-- nagłówek-->
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
  <title>Gdzie zostać?</title>
  <link rel="icon" href="https://travel-dd.com/template/002/img/logo-128x128.png">
</head>
<body>

  <!-- Navbar-->
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"> <i class="fas fa-map-pin"></i>  Gdzie zostać?</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <% if (!user){ %> <!-- jezeli uzytkownik nie jest zalogowany, to..-->
          <li class="nav-item">
            <a class="nav-link" href="/login"> <i class="fas fa-sign-in-alt"></i> Zaloguj się <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Rejestracja</a>
          </li>
        <%} else { %>
          <li class="nav-item">
            <a class="nav-link"> Zalogowany jako: <%= user['username'] %></a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/logout">Wyloguj się</a>
          </li>
        <%} %>
      </ul>
    </div>
  </nav>