<%- include('partials/header') %>
<section id="landing">


    <div class="parallax">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div id="content">
                        <h1>
                             Podróżowanie stało się prostsze.
                        </h1>
                        <a href="/miejsca" class="btn btn-primary mt-4 btn-md rounded"> <i class="fas fa-plane"> </i>  Sprawdź!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('partials/footer') %>