<%- include('./partials/header') %>

<div class="container text-center mt-4">
    <h1>Zaloguj się</h1>
    <div style="width:18%;  margin:4em auto;">
        <form action="/login" method="POST">
            <div class="form-group">
                <input type="text" name="username" placeholder="Login">
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Hasło">
            </div>
            <div class="form-group">
                <button class="form-control btn btn-sm btn-success"> Zaloguj się!</button>
            </div>
        </form>
    </div>
</div>
<%- include('./partials/footer') %>