<%- include('partials/header') %>

<div class="container text-center mt-4">
    <h1>Stwórz nowe miejsce!</h1>
    <div style="width:40%; margin:4em auto;">
        <form action="/miejsca " method="POST">
            <div class="form-group">
                <input type="text" class="form-control " name="nazwa" placeholder="Nazwa, np 'hotel w centrum Poznania'">
            </div>

            <div class="form-group">
            <input type="text" class="form-control" name="image"placeholder="URL obrazka">
            </div>

            <div class="form-group">
            <button class="form-control btn btn-success"> Dodaj!</button>
            </div>

        </form>
        <a href="/miejsca"> Nie chcę dodawać, wróć do przeglądania</a>
    </div>
</div>
<%- include('partials/footer') %>