<H1>Zarejestruj się</H1>

<form action="/register" method="post">
    <!-- zmienne musza nazywac się username oraz password do poprawnego dzialania passportu-->
    <input type="text" name="username" placeholder="login">
    <input type="password" name="password" placeholder="haslo">
    <button> Zarejestruj się</button>
</form>