<%- include('../partials/header') %>

<div class="container text-center mt-4">
    <h1>Stwórz nowe miejsce!</h1>
    <div style="width:40%; margin:4em auto;">
        <form action="/miejsca " method="POST">
            <div class="form-group">
                <input type="text" class="form-control " name="nazwa"
                    placeholder="Nazwa, np 'hotel w centrum Poznania'">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="image" placeholder="URL obrazka">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="krotkiopis" placeholder="Krótki opis dla podglądu">
            </div>

            

            <div class="form-group">
                <input type="text" class="form-control" name="lokacja" placeholder="Lokacja, np 'Piotrkowska 1, Łódź'">
            </div>

            <div class="form-group">
                
                <input type="number" class="form-control" name="cena" placeholder="Cena w PLN">
            </div>
            <div class="form-group">
                <textarea class="form-control" name="dlugiopis" placeholder="Długi opis, wyświetlany na stronie"  rows="8"></textarea>
              </div><hr>
              <div class="form-group">
                <input type="text" class="form-control" name="imie" placeholder="Pełne imię i nazwisko do kontaktu">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" name="numer" placeholder="Twój numer telefonu">
            </div>
            <div class="form-group">
                <button class="form-control btn btn-success"> Dodaj!</button>
            </div>

        </form>
        <a href="/miejsca"> Nie chcę dodawać, wróć do przeglądania</a>
    </div>
</div>
<%- include('../partials/footer') %>